<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>miss</key>
		<integer>0</integer>
		<key>Crit</key>
		<integer>0</integer>
		<key>luck</key>
		<integer>0</integer>
		<key>resistance</key>
		<integer>0</integer>
		<key>Hitrate</key>
		<integer>0</integer>
		<key>mana</key>
		<integer>0</integer>
		<key>Attack</key>
		<integer>0</integer>
		<key>corporeity</key>
		<integer>0</integer>
		<key>Skill</key>
		<integer>0</integer>
		<key>wisdom</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>shield</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>0</integer>
		<key>hp</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>pic</key>
		<string></string>
		<key>Figure</key>
		<string></string>
		<key>text</key>
		<string></string>
		<key>num</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>miss</key>
		<integer>0</integer>
		<key>Crit</key>
		<integer>0</integer>
		<key>luck</key>
		<integer>0</integer>
		<key>resistance</key>
		<integer>0</integer>
		<key>Hitrate</key>
		<integer>0</integer>
		<key>mana</key>
		<integer>0</integer>
		<key>Attack</key>
		<integer>0</integer>
		<key>corporeity</key>
		<integer>0</integer>
		<key>Skill</key>
		<integer>0</integer>
		<key>wisdom</key>
		<integer>0</integer>
		<key>power</key>
		<integer>0</integer>
		<key>shield</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>0</integer>
		<key>hp</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>pic</key>
		<string></string>
		<key>Figure</key>
		<string></string>
		<key>text</key>
		<string></string>
		<key>num</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
