<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>miss</key>
		<integer>0</integer>
		<key>crit</key>
		<integer>0</integer>
		<key>luck</key>
		<integer>5</integer>
		<key>experience</key>
		<integer>0</integer>
		<key>lv</key>
		<integer>0</integer>
		<key>hitrate</key>
		<integer>90</integer>
		<key>mana</key>
		<integer>0</integer>
		<key>attack</key>
		<integer>0</integer>
		<key>corporeity</key>
		<integer>3</integer>
		<key>skill</key>
		<integer>3</integer>
		<key>wisdom</key>
		<integer>2</integer>
		<key>power</key>
		<integer>3</integer>
		<key>shield</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>30</integer>
		<key>name</key>
		<string>大凤</string>
		<key>pic</key>
		<string>大凤.png</string>
		<key>figure</key>
		<string>大凤*.jpg</string>
		<key>text</key>
		<string>大凤号是日本海军重型航空母舰。“大凤”号是日本海军中第一艘飞行甲板装防护装甲的航空母舰。机库分上下二层；上层宽18米，下层宽17米．各有4个隔舱。上层机库的舱顶板厚10毫米。飞行甲板与机库顶板之间有0．7米的空间，以防炸弹穿透飞行甲板危及上层机库。“大凤”号主要装备九八式双联装100毫米高射炮和九六式3联装25毫米机关炮2种。大凤号是日本海军重型航空母舰。</string>
	</dict>
	<dict>
		<key>miss</key>
		<integer>0</integer>
		<key>crit</key>
		<integer>0</integer>
		<key>luck</key>
		<integer>10</integer>
		<key>experience</key>
		<integer>0</integer>
		<key>lv</key>
		<integer>0</integer>
		<key>hitrate</key>
		<integer>95</integer>
		<key>mana</key>
		<integer>0</integer>
		<key>attack</key>
		<integer>0</integer>
		<key>corporeity</key>
		<integer>2</integer>
		<key>skill</key>
		<integer>3</integer>
		<key>wisdom</key>
		<integer>4</integer>
		<key>power</key>
		<integer>2</integer>
		<key>shield</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>7</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>name</key>
		<string>响</string>
		<key>pic</key>
		<string>响.jpg</string>
		<key>figure</key>
		<string>响*.jpg</string>
		<key>text</key>
		<string>响号驱逐舰是旧日本帝国海军的驱逐舰。为吹雪型（特型）第22号舰（III型2号舰）。在日本海军中继神风型驱逐舰“响”后，第二艘使用“响”作为舰名的舰船。与雪风同样，是在经历了残酷的战场之后仍然存活下来的舰船。战争后，作为赔款引渡给苏联，舰名也改成了「Верный」的俄文名称，意为「真实的，能信赖的」。退役后，又改称为「Декабрист」，意为「十二月党人」并作为练习舰使用到1953年。</string>
	</dict>
	<dict>
		<key>miss</key>
		<integer>0</integer>
		<key>crit</key>
		<integer>0</integer>
		<key>luck</key>
		<integer>10</integer>
		<key>experience</key>
		<integer>0</integer>
		<key>lv</key>
		<integer>0</integer>
		<key>hitrate</key>
		<integer>100</integer>
		<key>mana</key>
		<integer>0</integer>
		<key>attack</key>
		<integer>0</integer>
		<key>corporeity</key>
		<integer>2</integer>
		<key>skill</key>
		<integer>3</integer>
		<key>wisdom</key>
		<integer>4</integer>
		<key>power</key>
		<integer>2</integer>
		<key>shield</key>
		<integer>0</integer>
		<key>mp</key>
		<integer>7</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>name</key>
		<string>欧根亲王</string>
		<key>pic</key>
		<string>Prinz Eugen.jpg</string>
		<key>figure</key>
		<string>Prinz Eugen*.jpg</string>
		<key>text</key>
		<string>欧根亲王号重巡洋舰（德语：Schwere Kreuzer Prinz Eugen），德国二战大型水面作战舰艇之一，是纳粹海军希佩尔海军上将级重巡洋舰的3号舰，名字来源于奥地利历史其一伟大的陆军元帅欧根亲王。1945年在哥本哈根向英军投降；战后赔偿给美国，后转入美国海军服役。

1946年7月1日和25日两次参加原子弹试验，未沉没；12月22日，在拖往夸贾林环礁埃努布吉礁的途中触礁沉没。</string>
	</dict>
</array>
</plist>
